body {
  background-color: #f5f5f5;
}
/* .test {
  border: 1px solid #000;
  margin: 5px;
  padding: 5px;
} */
#content-wrap {
  border-color: blue;
}
#left-sidebar {
  width: 30%;
  float: left;
  border-color: red;
}

#content {
  border-color: green;
  padding-left: 32%;
}

.page-block {
  background-color: white;
  padding: 24px;
  margin: 10px;
  border: 1px solid#777777;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
#motto {
  color: darkgreen;
}

#top-menu-bar {
  text-align: center;
  color: #fff;
  background-color: #334455;
}
#top-menu-bar li {
  margin: 0;
  padding: 0;
  display: inline;
}
#top-menu-bar a {
  padding: 5px 15px 5px 15px;
  margin: 2px 0 2px 0;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}
#top-menu-bar a:visited {
  color: #ffffff;
}
#top-menu-bar a:hover {
  color: #334455;
  background-color: #ffffff;
}
.favorite {
  font-weight: bold;
}
